src/**
test/**
scripts/**
release/**
esbuild.js
.gitignore
package-lock.json
**/*.map
*.vsix
node_modules/**
!node_modules/node-pty/package.json
!node_modules/node-pty/LICENSE
!node_modules/node-pty/lib/**
node_modules/node-pty/lib/**/*.test.js
!node_modules/node-pty/prebuilds/*/*.node
!node_modules/node-pty/prebuilds/*/*.exe
!node_modules/node-pty/prebuilds/*/*.dll
!node_modules/node-pty/prebuilds/*/spawn-helper
!node_modules/node-pty/prebuilds/*/conpty/**
